html, body { 
    padding: 0; 
    margin: 0; 
    width: 100%; 
    height: 100%; 
    overflow: hidden;
}

#unity-container { 
    width: 100%; 
    height: 100%; 
    position: absolute;
    background: #231F20;
}

#unity-canvas { 
    width: 100% !important; 
    height: 100% !important; 
    background: #231F20;
}

#unity-loading-bar { 
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    display: none;
    z-index: 10;
}

#unity-progress-bar-empty { 
    width: 141px; 
    height: 18px; 
    margin-top: 10px; 
    background: url('progress-bar-empty-dark.png') no-repeat center; 
}

#unity-progress-bar-full { 
    width: 0%; 
    height: 18px; 
    margin-top: 10px; 
    background: url('progress-bar-full-dark.png') no-repeat center; 
}

#unity-progress-text {
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}

#unity-warning { 
    position: absolute; 
    left: 50%; 
    top: 5%; 
    transform: translate(-50%); 
    background: white; 
    padding: 10px; 
    display: none; 
    z-index: 20;
}
